header, main {
    margin-right: 5%;
    margin-left: 5%;
  }
  
  header {
    display: flex;
    align-items: center;
    height:100px;
  }
  header nav {
    margin-left:auto;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  header nav ul li {
    margin-left: 40px;
    font-size: 24px;
    font-weight: 500;
  }
  
  header nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }