header {
  display: flex;
  align-items: center;
  height: 130px;
  @media (max-width: 599px) {
    height: 80px}
  }

.logoheader{
  height: 63px;
  @media (max-width: 599px) {
    height: 55px}
    @media (max-width: 450px) {
      height: 48px}
}