#err404 h1 {
    font-size: 288px;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 70px;

}

#err404 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#err404 a {
    text-decoration: underline;

}

#errMess {
    font-size:36px;
    margin-bottom: 100px;

}

#retour-accueil {
    font-size: 18px;
    margin-bottom: 100px;

}
