@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: 'Montserrat';
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

header, main {
  margin-right: 5%;
  margin-left: 5%;
}
